{% extends "users/base.html" %}
{%load humanize%}
{% block content %}
  <div class="card-body">
      <h5>
          {{choiceQuestion}}
      </h5>
      <div class="card m-1 mt-3">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <a class="card-link text-dark" href="{%url review.getPageType review.courseID%}">
                    <h6>{{review.courseName}}</h6>
                </a>
                <h6 class="text-muted">{{review.dateAdded|naturaltime}}</h6>
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <span class="text-secondary">
                    {{review.score}}
                </span>
                <p class="ml-5">
                    {{review.reviewContent}}
                </p>
            </div>
        </div>
    </div>
    <form  method="post" >
        {% csrf_token %}
        <div class="mx-auto">
            <button type="submit" class="btn btn-outline-danger">Yes</button>
            <a href="{{next}}" class="btn btn-outline-success">No</a></div>
    </form>
    
  </div>
{% endblock content %}