{% extends "users/base.html" %}
{% load humanize %}
{% block title %}
Rating Portal - Profile
{% endblock title %}
{% block content %}
<div class="card-body">
    <div class="d-flex justify-content-between">
        
    <h2>{{profileOwner.first_name}} {{profileOwner.last_name}} <small class="text-muted">{{profileOwner.username}}</small></h2>
    <h2>Points: {{profileScore}}</h2>
    </div>
    <hr>
    {% if user.is_superuser and profileOwner.is_superuser%}
    <a class="card-link" href="{% url 'issues' %}">See recent issues</a>
    <a class="card-link" href="{% url 'new' %}">Make new page</a>
    <hr>
    {% endif %}
    {% if user.get_username == profileOwner.get_username %}
    <a class="card-link" href="{% url 'change-pass' %}">Change Password</a>
    <hr>
    {% endif %}
    <div class="d-flex justify-content-around">
        <h2>Reviews</h2>
        <h2 class="text-muted">{{profileOwner.reviews_written.all.count}}</h2>
    </div>

    <hr>
    {% for review in profileOwner.reviews_written.all %}
    {% include "review/review.html" %}

    {%empty%}
    <h5>No reviews yet.</h5>
    {% endfor %}
</div>

{% endblock content %}


{% block sidebar %}
{% if user.is_superuser or user.get_username == profileOwner.get_username %}
<div class="col-md-4 mt-2">
    <div class="card">
        <div class="card-header">
            <h3>
                Recent
            </h3>
        </div>
        {% for recent in profileOwner.recentActions.all %}
            {% if recent.actionType == 'i' %}
            <div class="m-1 alert alert-info ">
                {% if recent.actionLink %}
                <a href="{{recent.actionLink}}" class="card-link text-info">
                {%else%}
                <a class="text-info">
                {% endif %}
            {%else%}
            <div class="m-1 alert alert-danger">
                {% if recent.actionLink %}
                <a href="{{recent.actionLink}}" class="card-link text-danger">
                {%else%}
                <a class="text-danger">
                {% endif %}
            {% endif %}
                    <div class="d-flex justify-content-between">
                        <small>{{recent.actionDetail}}</small>
                        <small>{{recent.dateAdded|naturaltime}}</small>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
  
    {% endif %}
    {% endblock sidebar %}