{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Rating Portal - Register
{% endblock title %}
{% block content %}
<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <fieldset class='form-group'>
            <legend class="border-bottom mb-4"><h3>Join Today</h3></legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-primary" type="submit">Sign Up</button>
            
        </div>
    </form>
</div>
{% endblock content %}