{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{{% block title %}
Rating Portal - Course
{% endblock title %}}

{% block content %}
<div class="card-body ">
    <div class="d-flex justify-content-between">
        <h2>{{courseName}} - Reviews</h2>
        <h2 class="text-muted">{{reviews|length}}</h2>
    </div>
    <hr class="hr-primary">
    {% for review in reviews %}
    {% include "review/review.html" %}

    {%empty%}
    <h5>No reviews yet.</h5>
    {% endfor %}
</div>

{% endblock content %}

{% block sidebar %}
<div class="col-md-4 mt-2">
    <div class="card mb-2">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <h3>Rating</h3>
                <h3 class="text-muted">{{rating}}</h3>
            </div>
        </div>
        <div class="card-body">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {% widthratio rating 1 10 %}%"
                    aria-valuenow="{% widthratio rating 1 10 %}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            <h3>Add your review!</h3>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <fieldset class='form-group'>
                    {{ commentForm|crispy }}
                </fieldset>
                <div class="form-group">
                    {% if user.is_authenticated %}
                    <button class="btn btn-outline-primary" type="submit">Submit</button>
                    {%else%}
                    <div class="d-flex justify-content-between form-inline">
                        <button type="button" class="btn btn-secondary btn-lg" disabled>Submit</button>
                        <h6 class="text-muted">Not logged in.</h6>

                    </div>

                    {% endif %}

                </div>
            </form>
        </div>
    </div>
</div>
{% endblock sidebar %}